/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
.body {
    font-family:Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

header {
    background-color: #3161e0;
    height: 80px;
}

h1 {
    text-align: center;
    font-size: 43px;
}

/* utilities */


.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }


/* header */
.navbar {
    height: 80px;
    align-items: center;
}

.logo {
    flex-basis: 20px;
    padding: 0 5px;
}

.link {
    flex-grow: 1;
    text-align: center;
    color: white;

}

.login {
    flex-basis: 20px;
    text-align: right;
    border-radius: 15px;
    padding: 7px;
}

.badgeBTN {
    border-radius: 15px;
    padding: 7px;
    border: none;
}

.badge-scarica {
    border-radius: 50px;
    padding: 10px;
    border: none;
    margin-right: 30px;
}

.badge-apri {
    border-radius: 50px;
    padding: 10px;
    border: none;
    color: white;
    background-color: black;
}
   

.spotlight {
    min-height: 400px;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/jumbo.png);
}   

.box-centrale {
    flex-basis: 80%;
    margin: 0 auto;
    color: white;
}

.text-spotlight {
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
}

.button {
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
}

.fa-solid, .fas {
    font-weight: 900;
    margin-right: 5px;
}




/* .flex-conteiner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
} */

/* .flex-conteiner-blue {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
    background-image:url(img) ;
    justify-content: center;
} */


.flex-conteiner-grey {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
    background-color: lightgray;
}

.flex-conteiner-black {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 100px 30px;
    background-color: black;
    margin-top: 1px;
}

.flex-conteiner-DW {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 30px 100px 0px;
    background-color: black;
    margin-top: 1px;
}





/* header */






/* corpo centrale */





.box-leftBG {
    flex-basis: 60%;
    min-height: 300px;
    background-color: #e28743;
}

.box-leftSM {
    flex-basis: 40%;
    min-height: 300px;
    background-color: #eab676;
}


.box-rightSM {
    flex-basis: 40%;
    min-height: 300px;
    background-color: #eab676;
}

.box-rightBG {
    flex-basis: 60%;
    min-height: 300px;
    background-color: #e28743;
}



/* footer */

.box {
    flex-basis: 100%;
    min-height: 400px;
    background-color: #873e23;
}

.box-40 {
    flex-basis: 40%;
    min-height: 300px;
    background-color: #063970;
    border: 1px dashed white;
}

.box-20 {
    flex-basis: 20%;
    min-height: 300px;
    background-color: #76b5c5;
    border: 1px dashed white;
}

.footer-box {
    flex-basis: 100%;
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #abdbe3;
}

.box-grey-left {
    background-color: #eeeee4;
    padding: 5px;
    border: 1px dashed;
}

.box-grey-right {
    background-color: #eeeee4;
    padding: 5px;
    border: 1px dashed;
}